/github-copilot/
/coc/
/configstore/
/fish/fish_variables
/cef_user_data
/dconf
/discord
/evolution
/gnome-initial-setup-done
/gtk-3.0
/ibus
/neofetch
/pulse
/update-notifier
.gsd-keyboard.settings-ported
mimeapps.list
monitors.xml
user-dirs.dirs
user-dirs.locale
enchant/
gedit/
gnome-control-center/
go/
goa-1.0/
htop/
lutris/
systemd/
rio/
nextjs-nodejs/
gh/
create-next-app-nodejs/
btop/
balenaEtcher
autorandr/
Code/
nvim-old/
raycast/
filezilla/
k9s/
QtProject.conf
fish/conf.d/
git/
google-chrome/
obsidian/
kotlin/
tompero/
uv/
