/github-copilot/
/coc/
/configstore/
/fish/fish_variables
/cef_user_data
/dconf
/discord
/evolution
/gnome-initial-setup-done
/gtk-3.0
/ibus
/neofetch
/pulse
/update-notifier
.gsd-keyboard.settings-ported
mimeapps.list
monitors.xml
user-dirs.dirs
user-dirs.locale
